body{
  background-color: #efefef;
}

.img-responsive {
    outline: none;
    margin: inherit;
}

text {
    margin-top: 1rem;
}

.text-box{
  margin-top: 10%;
}

.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

.container {
  height: 1000px;
}

.wrapper {
  margin-left: 140px;
}

.btn-xl{
  padding: 1rem 1rem;
  font-size: 3rem;
  width: 60%;
  line-height: 1.5;
  border-radius: 0.3rem;
  margin-top: 25%;
  position:relative;
  margin-left:20%;
}
.btn-xl:hover{
   border-radius: 0.3rem;
   outline: none;
   
}
.bg-light{
background-color: #caebf2;
}

.text{
  text-align: center;
}

.image-link{
  margin-top: 40%;
  margin-left: 10%;
}

.links{
  margin-top: 10%;
  margin-left: 5%;
}

.colon-centered{
  width: 60%;
  margin-left: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
}

