img-responsive {
    outline: none;
    margin: inherit;
}

text {
    margin-top: 1rem;
}

.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

.container {
  height: 1000px;
}

.wrapper {
  margin-left: 140px;
}

.btn-primary{
background-color: #ff3b3f
}

.btn-xl{
  padding: 1rem 1rem;
  font-size: 3rem;
  width: 60%;
  line-height: 1.5;
  border-radius: 0.3rem;
  margin-top: 0 auto; 
  position:relative;
  margin-left:20%;
}

.col-md-4{
background-color: #efefef;
}

.navbar{
background-color: #caebf2;
}

